<template-panel-form Title="添加文章">
  <data-form [formInfo]="articleForm" [dataStr]="article">
    <form-item name="type" title="类型" type="select" [dataList]="typeList">
      <form-validator type="required" title="请选择类型"></form-validator>
    </form-item>
    <form-item name="imageIds" title="图片" type="file">
      <form-validator type="required" title="请选择上传图片"></form-validator>
    </form-item>
    <form-item name="desc" title="描述">      
      <form-validator type="required" title="请输入描述"></form-validator>
    </form-item>
    <form-item name="content" title="文章内容" type="editor"></form-item>
    <form-item name="isValid" title="保存" type="checkbox"></form-item>
  </data-form>
</template-panel-form>
