.page {
  margin-bottom: 56px;
div.pagebox {
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    span {
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #488526;
        color: #488526;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        padding: 0 7px;
        cursor: pointer;
      }
      span:hover {
        color: #fff;
        background-color: #488526;
      }
  }
}
  