.newsrow {
    cursor: pointer;
    div.newspicbox {
        height: 94px;
        max-width: 94px;
        padding: 0;
        img {
            width: 100%;
            height: 100%;
          }
      }
      div.newstitle{
        p:first-child {
            font-size: 17px;
            margin: 13px 0;
            color: #488526;
            font-weight: 350;
          }
      }      
      div.newstitle{
        p:last-child {
            font-size: 12px;
            margin-bottom: 5px;
            line-height: 20px;
            max-width: 280px;
            max-height: 45px;
            word-break: break-all;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }    
      }                  
}  
.abouthr {
    height: 3px;
    color: grey;
}