<div class="row snavbox">
  <div class="col showbox">
    <div class="row">
      <div class="col ">
        <div class="row snav ">
          <div class="col">
            <div routerLink="/home/index/sproduct" routerLinkActive="snavactive">
              产品展示
            </div>
          </div>
          <div class="col">
            <div routerLink="/home/index/sgarden" routerLinkActive="snavactive">
              韭园风采
            </div>
          </div>
          <div class="col">
            <div routerLink="/home/index/sabout" routerLinkActive="snavactive">
              关于我们
            </div>
          </div>
          <div class="col">
            <div routerLink="/home/index/sjoin" routerLinkActive="snavactive">
              公司招聘
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row showcontent">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>
