<template-panel-form Title="添加类别">
  <data-form [formInfo]="typeForm" [dataStr]="type">
    <form-item name="type" title="类型" type="select" [dataList]="typeList">
      <form-validator type="required" title="请选择类型"></form-validator>
    </form-item>
    <form-item name="key" title="类名">
      <form-validator type="required" title="请输入描述" #key></form-validator>
    </form-item>
    <form-item name="value" title="值" type="hidden" ></form-item>
    <!-- <form-item name="value" title="值">
      <form-validator type="required" title="请输入描述"></form-validator>
    </form-item> -->
  </data-form>
</template-panel-form>
