<home-picrow [type]="'新闻中心-顶部图片'" [height]="'190'"></home-picrow>
<div class="row" style="margin:30px 5%;">
  <div class="col">
    <div class="row">
      <div class="col">
        <p class="newsdtitle">{{article.title}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">        
          <home-article [isNews]="true" [id]="id" #article></home-article>
      </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="nextInfo">
        <p class="newsnext" routerLink="{{nextInfo.url}}" >下一篇：{{nextInfo.title}}</p>
      </div>
    </div>
  </div>
</div>
