<template-panel-form Title="添加新闻">
  <data-form [formInfo]="lcnewsForm" [dataStr]="lcnews">
    <form-item name="title" title="标题">
      <form-validator type="required" title="请输入描述"></form-validator>
    </form-item>
    <form-item name="brief" title="简介">
      <form-validator type="required" title="请输入简介"></form-validator>
    </form-item>
    <form-item name="imageIds" title="图片" type="file">
      <form-validator type="required" title="请选择上传图片"></form-validator>
    </form-item>
    <form-item name="content" title="文章内容" type="editor"></form-item>    
  </data-form>
</template-panel-form>
