<div class="row bottom">
  <div class="col">
    <div class="row">
      <div class="col bottombar">
      </div>
    </div>
    <div class="row bottombox">
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="bnavbox">
              <span>网站首页</span>
              <span class="spbar">丨</span>
              <span>关于我们</span>
              <span class="spbar">丨</span>
              <span>新闻中心</span>
              <span class="spbar">丨</span>
              <span>产品展示</span>
              <span class="spbar">丨</span>
              <span>韭园风采</span>
              <span class="spbar">丨</span>
              <span>意见反馈</span>
              <span class="spbar">丨</span>
              <span>联系我们</span>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="bottomInfo">
          <div class="col btextbox">
            <p>版权所有&copy;&nbsp;{{bottomInfo.webName}}</p>
            <p>地址：{{bottomInfo.comAddress}}&nbsp;&nbsp;联系电话：{{bottomInfo.cPhone1}}&nbsp;&nbsp;网址：{{bottomInfo.webSite}}</p>
            <p>鲁ICP备98419875号&nbsp;&nbsp;技术支持&nbsp;&nbsp;飓风网络科技有限公司</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>