<div class="row headder">
  <div class="col">
    <div class="row ">
      <div class="col topbar">
        <div>
          <span>设为首页</span>
          <span>丨</span>
          <span>加入收藏</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row" style="padding-left:5%;">
          <div class="col-3 logobox">
            <img src="{{logoimg}}" alt="logo">
          </div>
          <div class="col-9 toptext">
            <p>{{comName1}}</p>
            <p>{{comName2}}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="toptext toptextr">
          <p>全国销售热线：</p>
          <p>{{sPhone}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
