<div class="row navrow">
  <div class="col">
    <div class="row navbox" *ngIf="menuInfo">
      <div class="col">
      </div>
      <div class="col" routerLink="/home/index/sproduct" routerLinkActive="navactive">
        {{menuInfo.name1}}
      </div>
      <div class="col" routerLink="/home/about" routerLinkActive="navactive">
        {{menuInfo.name2}}
      </div>
      <div class="col" routerLink="/home/lcproduct" routerLinkActive="navactive">
        {{menuInfo.name3}}
      </div>
      <div class="col" routerLink="/home/news" routerLinkActive="navactive">
        {{menuInfo.name4}}
      </div>
      <div class="col" routerLink="/home/garden" routerLinkActive="navactive">
        {{menuInfo.name5}}
      </div>
      <div class="col" routerLink="/home/joinus" routerLinkActive="navactive">
        {{menuInfo.name6}}
      </div>
      <div class="col" routerLink="/home/contactus" routerLinkActive="navactive">
        {{menuInfo.name7}}
      </div>
      <div class="col searbox">
        <div>
          <span (click)="doSearch(text.value)"></span>
          <input type="text" placeholder="搜索" #text>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
