.navrow {
    div.navbox {
        background-color: #488526;
        div {          
            background-image: url('../../../../assets/img/nav_03.jpg');
            background-position: right center;
            background-repeat: no-repeat;
            font-size: 20px;
            height: 60px;
            line-height: 60px;
            vertical-align: center;
            color: #fff;
            word-wrap: none;
            word-break: normal;
            min-width: 110px;
            margin: 5px 0;
            text-align: center;
          }
          div:first-child
          ,div:last-child {
            background-color: #488526 !important;
            background-image: none !important;
            cursor: auto !important;
          }
          div:hover {
            background-color: #fff;
            color: #488526;
            cursor: pointer;
          }
          div.navactive {
            background-color: #fff;
            color: #488526 !important;
            cursor: pointer;
          }
          div.searbox {
            background-image: none !important;
            padding-right: 0;
            div {
              display: block;              
              height: 30px;
              margin: 20px 0;
              line-height: 0;
              border: 1px solid #fff;
              border-radius: 15px;
              padding: 2px 10px 2px 6px;
              background-color: #fff;
              span {
                width: 24px;
                height: 24px;
                display: inline-block;
                vertical-align: middle;
                border: 0;
                padding: 0;
                background-image: url('../../../../assets/img/sear.png');
                background-size: 100%;
                background-repeat: no-repeat;
              }
              input {
                width: 53px;
                height: 24px;
                display: inline-block;
                vertical-align: middle;
                border: 0;
                padding: 2px;
                line-height: 24px;
                font-size: 15px;
                text-align: center;
              }
              
            }
          }
          div.searbox:hover {
            background-color: #488526 !important;
          }
      }
}
