<div class="row newsbrief">
  <div class="col" *ngIf="news">
    <div class="row">
      <div class="col ">
        <div class="isnewstext">
          {{news.title}}
        </div>
      </div>
      <div class="col isnewsdate">
        {{news.createAt}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- <p class="inewsbref">{{news.title}}</p> -->
        <p class="inewsbref">testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</p>
      </div>
    </div>  
    <div class="row">
      <div class="col">
        <div class="detailbox">
          详情>>>
        </div>
      </div>
    </div>
  </div>
</div>
