<div class="row newsbrief">
    <div class="col">
        <div class="row">
            <div class="col ">
                <div class="isnewstext">
                    韭菜的功效有哪些？
                </div>
            </div>
            <div class="col isnewsdate">
                2018/01/04
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="inewsbref">每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西每个东西</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="detailbox">
                    详情>>>
                </div>
            </div>
        </div>
    </div>
</div>