<div class="row pdbox">
    <div class="col">
      <div class="row pdpicrow">
        <div class="col-4">
          <img src="../../../assets/test/indexpic2.png" alt="pdpic">
        </div>
        <div class="col-4">
          <img src="../../../assets/test/indexpic2.png" alt="pdpic">
        </div>
        <div class="col-4">
          <img src="../../../assets/test/indexpic2.png" alt="pdpic">
        </div>
        <div class="col-4">
          <img src="../../../assets/test/indexpic2.png" alt="pdpic">
        </div>
        <div class="col-4">
          <img src="../../../assets/test/indexpic2.png" alt="pdpic">
        </div>
        <div class="col-4">
          <img src="../../../assets/test/indexpic2.png" alt="pdpic">
        </div>
      </div>
    </div>
  </div>