<div class="row pnav">
    <div class="col">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <div class="pdnav">
                    韭菜
                </div>
            </div>
            <div class="col">
                <div class="pdnav">
                    韭菜花
                </div>
            </div>
            <div class="col ">
                <div class="pdnav">
                    韭菜园
                </div>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</div>