.titlerow {  
  div.ftext {
    font-size: 23px;
    color: #488526;
    margin: 3px;
    font-weight: 350;
    text-align: center;
  }
  div.stext {
    font-size: 20px;
    color: #488526;
    margin: 3px;
    font-weight: 350;
    opacity: 0.5;
    text-align: center;
  }
}
