<home-picrow [type]="'新闻栏目图片'" [height]="'190px'"></home-picrow>
<div class="row" style="margin:30px 5%;">
  <div class="col">
    <div class="row">
      <div class="col">
        <p class="newsdtitle">韭菜的功效有哪些</p>
      </div>
    </div>
    <div class="row">
      <div class="col">        
          <home-article [isNews]="true" [id]="'5a698fc33a3625270cdb4eda'"></home-article>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="newsnext">下一篇：细数韭菜的十大功效</p>
      </div>
    </div>
  </div>
</div>
