<div class="row">
  <div class="col nopadding">
    <img src="../../../assets/test/indexpic2.png" alt="pic" class="toppic ">
  </div>
</div>
<div class="row" style="margin:30px 5%;">
  <div class="col">
    <div class="row">
      <div class="col">
        <p class="newsdtitle">韭菜的功效有哪些</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div style="background-color:red;">
          内容
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="newsnext">下一篇：细数韭菜的十大功效</p>
      </div>
    </div>
  </div>
</div>
