<div class="row header">
    <div class="col topbar">
      <div>
        <span>设为首页</span>
        <span>丨</span>
        <span>加入收藏</span>
      </div>
    </div>
  </div>
  <div class="row bgf">
    <div class="col">
      <div class="row" style="padding-left:5%;">
        <div class="col-3 logobox">
          <img src="../../assets/img/lclogo.png" alt="logo">
        </div>
        <div class="col-9 toptext">
          <p>联合前进</p>
          <p>食品贸易有限公司</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="toptext text-right" style="padding-right:15%;">
        <p style="font-size:25px;padding-right:75px;">全国销售热线：</p>
        <p style="color:brown;">15098419875</p>
      </div>
    </div>
  </div>