<div class="row text-center navbox">
  <div class="col">
  </div>
  <div class="col" routerLink="/home/index/sproduct" routerLinkActive="navactive">
    首&nbsp;&nbsp;页
  </div>
  <div class="col" routerLink="/home/about" routerLinkActive="navactive">
    关于我们
  </div>
  <div class="col" routerLink="/home/lcproduct" routerLinkActive="navactive">
    产品展示
  </div>
  <div class="col" routerLink="/home/news" routerLinkActive="navactive">
    新闻中心
  </div>
  <div class="col" routerLink="/home/garden" routerLinkActive="navactive">
    韭园风采
  </div>
  <div class="col" routerLink="/home/joinus" routerLinkActive="navactive">
    公司招聘
  </div>
  <div class="col" routerLink="/home/contactus" routerLinkActive="navactive">
    联系我们
  </div>
  <div class="col searbox">
    <div>
      <span></span>
      <input type="text" placeholder="搜索">
    </div>
  </div>
  <div class="col">
  </div>
</div>
