html,
body {
  font-family: "Microsoft YaHei";
  font-size: 16px;
  overflow-x: unset;  
}

.container {
  min-width: 1140px;
  background-color: #fff;
}

/* 
.indexrow>div>div>div>img {
  width: 100%;
  height: 100%;
} */

.gbar {
  height: 15px;
  background-color: #488526;
}

.nopadding {
  padding: 0;
}

.sppic1 {
  width: 100%;
  height: 360px;
}

.sppic2 {
  width: 100%;
  height: 130px;
}

.sppic3 {
  width: 100%;
  height: 220px;
}

.inewstext {
  font-size: 27px;
  color: #488526;
  font-weight: 350;
  margin: 5px 0;
}

.spd {
  padding-right: 25px;
}

.abouthr {
  height: 3px;
  color: grey;
}

.inewshr {
  height: 1px;
  background-color: #ccc;
  margin-top: 10px;
  margin-bottom: 25px;
}

.pdactive {
  color: #fff !important;
  background-color: #488526 !important;
}

.newsbox {
  margin: 30px 8% 60px 8%;
}

.inewsbox {
  background-color: #fff;
  padding: 0;
  margin: 0 15px;
}

.psactive {
  color: #fff !important;
  background-color: #488526;
}

.inewsrpic>img {
  height: 100%;
  width: 100%;
}

.curp {
  cursor: pointer;
}

.newsdtitle {
  font-size: 18px;
  color: #488526;
  margin-bottom: 15px;
  font-weight: 350;
}

.newsnext {
  font-size: 13px;
  color: #488526;
  margin: 15px 0 0 0;
  font-weight: 500;
  cursor: pointer;
}

.jtitle {
  margin: 20px 0;
  font-size: 0;
}

.jtitle-span {
  width: 38%;
  display: inline-block;
  vertical-align: middle;
  color: #488526;
  text-align: center;
  font-size: 40px;
  font-weight: 350;
  line-height: 40px;
}

.jtitle-point {
  width: 1%;
  display: inline-block;
  vertical-align: middle;
  color: #488526;
  font-size: 40px;
  line-height: 40px;
}

.point {  
  height: 10px;
  margin: 15px auto;
  background-color: green;
  border-radius: 5px;
}

.jtitle>hr {
  display: inline-block;
  vertical-align: middle;
  background-color: #488526;
  width: 30%;
  height: 1px;
}

.ctitle {
  margin: 20px 0;
  font-size: 0;
}

.ctitle-span {
  width: 18%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 3%;
  font-weight: 350;
  line-height: 40px;
}

.ctitle-span>div:first-child {
  font-size: 35px;
  line-height: 35px;
  color: #488526;
  margin-bottom: 5px;
  font-weight: 350;
}

.ctitle-span>div:last-child {
  font-size: 25px;
  line-height: 25px;
  color: #488526;
  margin-top: 5px;
  background-color: #a3c292;
  padding: 3px;
  margin: auto;
}

.ctitle>hr {
  display: inline-block;
  vertical-align: middle;
  background-color: #488526;
  width: 37%;
  height: 1px;
}

.pdv50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.nomg {
  margin: 0;
}
